<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RSS Converter</title>
        <style>
            /* adapted from vite's template css file */
            :root {
                font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
                line-height: 1.5;
                font-weight: 400;

                --background: #242424;
                --background-light: #474747;
                --text: rgba(255, 255, 255, 0.87);
                --accent: #a16767;

                color-scheme: light dark;
                color: var(--text);
                background-color: var(--background);

                font-synthesis: none;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            * {
                box-sizing: border-box;
            }

            body {
                margin: 0;
                display: flex;
                place-items: center;
                flex-direction: column;
                min-width: 320px;
                min-height: 100vh;
                overflow-x: hidden;
            }

            .flashes {
                position: fixed;
                top: 0;
                background-color: rgb(142, 43, 43);
                padding: 0;
                list-style: none;
                border-radius: 5px;
                z-index: 100000;
                animation: fadeOut 10s forwards;
                max-width: 30vw;
            }

            .flashes li {
                padding: 10px;
            }

            header {
                position: sticky;
                top: 0;
                height: 10vh;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                justify-content: center;
                gap: 40vw;
                background-color: var(--background-light);
                z-index: 100;
            }

            header a:visited, header a:active, header a {
                font-size: large;
                text-decoration: none;
                color: var(--text);
            }



            @keyframes fadeOut {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
        </style>
        {% endblock %}
    </head>
    <body>
        {% autoescape True %}
        {% block content %}
        <header>
            <a href="/">Website to RSS Converter</a>
            <a href="/user">Your Feeds</a>
        </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% endblock %}
        {% endautoescape %}
    </body>
</html>
