<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" >
{% autoescape True %}
  <channel>
    <title>{{ channel.title }}</title>
    <link>{{ channel.link }}</link>
    <description>{{ channel.description }}</description>
    <lastBuildDate>{{ channel.lastBuildDate }}</lastBuildDate>
    <generator>Andrew's RSS Converter</generator>
    {%- if channel.pubDate %}
    <pubDate>{{ channel.pubDate }}</pubDate>
    {%- endif %}
    <atom:link href="{{ channel.link }}" rel="self" type="application/rss+xml" />
    {%- for item in items %}
    <item>
      <title>{{ item.title }}</title>
      <link>{{ item.link }}</link>
      <guid>{{ item.link }}</guid>
      <description>{{ item.description }}</description>
      {%- if item.pubDate %}
      <pubDate>{{ item.pubDate }}</pubDate>
      {%- endif %}
    </item>
    {%- endfor %}
  </channel>
{% endautoescape %}
</rss>